<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezhao.mapper.NewsMapper">

	<select id="findNewsListByLab" parameterType="Integer" resultType="NewsOutline">
		SELECT news_id,
			   news_title,
			   news_school,
			   pic_url
	    FROM news 
	    WHERE lab_id=#{labId}
	</select>
	
	<select id="findNews" parameterType="Integer" resultType="News">
		SELECT news_content,
			   news_title,
			   news_date,
			   author_name,
			   news_school,
			   lab_id,
			   pic_url
		FROM news 
		WHERE news_id=#{newsId}
	</select>
	
	<insert id="insertNews" parameterType="News">
		INSERT INTO news(
			news_content,
			news_title,
			news_date,
			author_name,
			news_school,
			lab_id,
			pic_url
			) VALUES(
			#{newsContent},
			#{newsTitle},
			#{newsDate},
			#{authorName},
			#{newsSchool},
			#{labId},
			#{picUrl}
			)
	</insert>
	
	<!--
	public void insertComment(Comment comment);
	<insert id="insertComment" parameterType="Comment">
		
	</insert>
	-->

</mapper>